.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.form-field {
    display: flex;
    flex-direction: column;
    color: #000000;
}

.form-label {
    text-align: left;
    padding-bottom: 5px;
    color: #000000;
}

.form-input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
}

.form-button {
    padding: 10px 20px;
    background-color: #F5C518;
    border: none;
    cursor: pointer;
    width: 100%;
}

@media screen and (max-width: 476px) {
    .form-label {
        display: none;
    }
}

.form-wrapper {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.social-media-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.dashed-line {
    border: none;
    border-top: 1px dashed #ccc;
    width: 100%;
}

.social-media-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #F5C518;
}

.social-media-button i {
}

@media screen and (max-width: 600px) {
    .social-media-buttons {
        flex-direction: column;
    }
}
