.movie-page {
    display: flex;
    flex-direction: column; /* Stack carousel and info vertically */
    align-items: center; /* Center items horizontally */
    max-width: 2000px; /* Adjust the max width as necessary */
    margin: 0 auto; /* Center the movie page */
}

.movie-image {
    width: 100%; /* Full width of the container */
    margin-bottom: 20px; /* Spacing between carousel and movie info */
}

.movie-info {
    width: 100%; /* Full width of the container */
    padding: 20px;
}
